<div ng-include="'templates/navbar.html'" ng-controller="navController"></div>
<div ng-include="'templates/editheader.html'"></div>


<div class="container">
<div class="row">
  <div class="col s12">
    <div class="progress_state">

    </div>
  </div>
  <div class="col s12">
    <div class="editsheet z-depth-1">
            <div class="editheader">
              <h5>{{title}}</h5>
            </div>
            <div class="editform">
              <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <input  id="tournament_name" type="text" class="validate">
                        <label for="tournament_name">Tournament Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <div class="createtournament_logo" ng-style="setlogo">

                          <div class="file-field input-field">
                            <div class="btn settournamentlogo tooltipped" data-position="right" data-delay="50" data-tooltip="Select Logo">
                              <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                              <input id="set_logo" type="file">
                            </div>
                            <div class="file-path-wrapper createtournament_filepath">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input  id="tournament_city" type="text" class="validate">
                        <label for="tournament_city">City</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input  id="tournament_country" type="text" class="validate">
                        <label for="tournament_country">Country</label>
                      </div>
                    </div>


                    <a id="" class=" waves-effect waves-light btn submit"><i class="fa fa-check" aria-hidden="true"></i> CREATE TOURNAMENT</a>
                  </form>
                </div>
            </div>

    </div>
  </div>
</div>
</div>
<div ng-include="'templates/fab.html'"></div>
<script type="text/javascript">
  $('ul.tabs').tabs();
  $('.uploadbutton').hide();
  $( '.userinfo' ).hover(function() {
    $('.uploadbutton').toggle();
  });

  function tournamentsetlogo(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('.createtournament_logo').css({
              'background-image': 'url(' + e.target.result + ')',
            });
        }
        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#set_logo").change(function(){
    tournamentsetlogo(this);
  });
  $('.tooltipped').tooltip({delay: 50});
  $(window).scroll(function(){
  $(".userinfo").css("opacity", 1 - $(window).scrollTop() / 250);
  });
  $('.submit').click(function(){
    var item = $('.submit');
    item.prop('disabled', true).removeClass('waves-effect').addClass('disabled').html("<i class='fa fa-circle-o-notch fa-spin' aria-hidden='true'></i> CREATING TOURNAMENT");
  });
</script>
